<!doctype html>
<html lang="pt-BR"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1">

    <title layout:title-pattern="$LAYOUT_TITLE — $CONTENT_TITLE">
        Pouso
    </title>

    <th:block th:replace="~{fragments/head :: resources}"></th:block>

    <link rel="stylesheet"
          th:href="@{/css/admin.css}">

    <th:block layout:fragment="head-extra"></th:block>
</head>

<body class="surface-container">
    <nav th:replace="~{fragments/header-admin :: header}"></nav>

    <nav th:replace="~{fragments/sidebar-admin :: sidebar}"></nav>

    <main class="left-round padding surface app-content">

        <div layout:fragment="content"></div>
    </main>

    <script th:src="@{/js/app.js}"></script>

    <th:block layout:fragment="scripts"></th:block>
</body>
</html>
