<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="header" class="top surface-container">
        
        <div class="row middle-align">
            <img th:src="@{/img/pouso-icon.png}" style="width: 35px; margin-right: 0px;" alt="Pouso">
            <h3 style="font-family: 'EB Garamond'; margin: 0px;">Pouso</h3>
        </div>

        <div class="max"></div>

        <div th:if="${currentUser == null}" class="row" style="padding-right: 10px;">
            <a th:href="@{/login}">
                <button class="primary">
                    <i>login</i>
                    <span>Entrar</span>
                </button>
            </a>
        </div>
        <div th:if="${currentUser != null}" class="row middle-align" style="padding-right: 10px;">
            <span th:text="|Ola, ${currentUser.username}|">Ola, username</span>
            <a>
                <i>notifications</i>
                <span class="badge"></span>
            </a>
            <a th:href="@{/perfil}" class="circle transparent">
                <img th:if="${currentUser.fotoPerfil != null and !currentUser.fotoPerfil.isBlank()}" class="responsive circle" th:src="${currentUser.fotoPerfil}" alt="Avatar">
                <i th:unless="${currentUser.fotoPerfil != null and !currentUser.fotoPerfil.isBlank()}">account_circle</i>
            </a>
        </div>
        
    </nav>
</body>
</html>
