<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="sidebar" id="sidebar" class="left max l surface-container">
        <button type="button" class="extra square round transparent center-align" onclick="toggleSidebar()">
            <i id="sidebar-toggle-icon">menu_open</i>
        </button>

        <header>
            <button type="button" class="extra extend square round sidebar-search-field">
                <i>search</i>
                <span>Buscar</span>
            </button>
        </header>

        <div class="max"></div>

        <a>
            <i>pets</i>
            <div>Pets</div>
        </a>
        <a>
            <i>family_home</i>
            <div>Adoções</div>
        </a>

        <div class="max"></div>

        <form th:if="${currentUser != null}" th:action="@{/logout}" method="post">
            <button type="submit" class="transparent">
                <i>logout</i>
                <span>Sair</span>
            </button>
        </form>
    </nav>
</body>
</html>
