<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <nav th:fragment="sidebar" id="sidebar" class="left l surface-container">
            <header>
        <button type="button" class="extra square round transparent center-align" onclick="toggleSidebar()">
            <i id="sidebar-toggle-icon">menu</i>
        </button>

        <button type="button" class="extend square round" th:onclick="|window.location.href='@{/pets/search}'|">
                <i>search</i>
                <span>Buscar</span>
            </button>
        </header>

            <div class="max"></div>

            <div>
                <a th:href="@{/pets}">
                    <i>pets</i>
                    <span>Pets</span>
                </a>
                <a th:href="@{/adocoes}">
                    <i>family_home</i>
                    <span>Adoções</span>
                </a>
        </div>
        <div class="max"></div>

        <form th:if="${currentUser != null}" th:action="@{/logout}" method="post">
            <button type="submit" class="transparent">
                <i>logout</i>
                <span>Sair</span>
            </button>
        </form>
    </nav>
</body>
</html>
